<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>Vue选项mixins</title>
</head>
<body>
    <h1>Vue选项-mixins</h1>
    <hr>
    <div id="app">
        <div>混入 (mixins) 是一种分发 Vue 组件中可复用功能的非常灵活的方式。混入对象可以包含任意组件选项。当组件使用混入对象时，所有混入对象的选项将被混入该组件本身的选项。</div>
        <br>
        {{num}}
        <p><button @click="add">add</button></p>
        <div><b>mixins对象相当于多继承</b></div>
        <ol>
            <li>mixin对象相当于父类，vue实例相当于子类</li>
            <li>vue实例与mixin对象的生命周期函数、选项调用顺序等同于父类与子类的调用顺序</li>
            <li>混入多个对象时，调用顺序按照混入顺序</li>
            <li>vue实例的methods中的方法与mixin中的方法名称相同时，调用的是vue实例的方法，相当于覆盖</li>
        </ol>
        <br>
        <div>慎用全局混入Vue.mixin({}),一旦使用全局混入对象，将会影响到所有之后创建的Vue实例。</div>
    </div>
    <script type="text/javascript">
        var mixin = {
            created: function() {
                console.log("mixin对象的created")
            },
            updated: function(){
                console.log("mixin对象的updated");
            },
            methods:{
                add:function(){
                    console.log("调用mixins对象的方法");
                }
            }
        }
        var mixin2 = {
            updated: function(){
                console.log("mixin2对象的updated");
            }
        }
        var app = new Vue({
            el:'#app',
            data:{
                num:0
            },
            created:function(){
                console.log("vue对象的created");
            },
            updated:function(){
                console.log("vue对象的updated");
            },
            methods:{
                add:function(){
                    console.log("调用vue对象的方法")
                    this.num++;
                }
            },
            mixins:[mixin,mixin2]
        })
        Vue.mixin({
            created:function(){
                console.log("全局created");
            }
        })
    </script>
</body>
</html>