<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-text & v-html</title>
</head>
<body>
    <h1>v-text & v-html指令</h1>
    <hr>
    <div id="app">
        <!-- {{}}有弊端,网速慢或js有问题时{{msg}}会原样输出,可替换为v-text -->
        这里用<span v-pre>{{msg}}</span>: {{msg}}
        <br>
        这里用v-text: <span v-text="msg"></span>
        <br>
        <br>
        字符串有html标签时：<br>
        1.用v-text: <span v-text="msgHtml"></span><br>
        2.用v-html：<span v-html="msgHtml"></span>
    </div>
    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
                msg:"message消息",
                msgHtml:"<span style='background:red'>Hello</span>"
            }
        })
    </script>
</body>
</html>