<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>Vue实例生命周期</title>
</head>
<body>
    <h1>Vue实例生命周期（各钩子函数）</h1>
    <hr>
    <div id="app">
        {{message}}
        <p><button @click="doSomething">doSomething</button></p>
        <p><button @click="destroyVue()">destroyVue</button></p>
    </div>
    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
                message:''
            },
            methods:{
                doSomething:function(){
                    this.message = "Tomorrow is another day!";
                },
                destroyVue:function(){
                    this.$destroy();
                }
            },
            beforeCreate:function(){
                this.message="Today is a good day!";//初始值无效
                console.log('1-beforeCreate 初始化之后');
            },
            created:function(){
                this.message="Today is a good day!";//初始值有效
                console.log('2-created 创建完成');
            },
            beforeMount:function(){
                console.log('3-beforeMount 挂载之前');
            },
            mounted:function(){
                console.log('4-mounted 被创建');
            },
            beforeUpdate:function(){
                console.log('5-beforeUpdate 数据更新前');
            },
            updated:function(){
                console.log('6-updated 被更新后');
            },
            activated:function(){
                console.log('7-activated');
            },
            deactivated:function(){
                console.log('8-deactivated');
            },
            beforeDestroy:function(){
                console.log('9-beforeDestroy 销毁之前');
            },
            destroyed:function(){
                console.log('10-destroyed 销毁之后')
            }
        })
    </script>
</body>
</html>